.chat-details {
  height: 100%;
  min-width: 261px;
  background-color: $base-dark;
  border-right: 2px solid $bg-color;

  &__profile {
    display: flex;
    align-items: center;
    height: 69px;
    border-bottom: 2px solid $bg-color;
    padding: 5px 20px;
  }
}
.chat-profile {
  &__photo {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
  }
  &__user-name {
    color: #fff;
    font-size: 20px;
  }
}

.users-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  &__item {
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: flex-start;
  }
}

.user-item__image {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

#photoInput {
  display: none;
}