.chat-details {
  height: 100%;
  min-width: 261px;
  background-color: $base-dark;
  border-right: 2px solid $bg-color;
  padding: 11px 15px;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.burgermenu {
  position: relative;
  width: 30px;
  height: 22px;
  cursor: pointer;
  & span {
    position: absolute;
    left: 0;
    border-top: 4px solid #6c7883;
    width: 100%;
    border-radius: 2px;
  }
  &__top{top:0}
  &__middle{top: 9px}
  &__bottom{top: 18px}
}

.chat-header__findline {
  height: 38px;
  width: 100%;
  color: #6d7883;
  background-color: $light-dark;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 4px 5%;
  margin: 0 10px;
}
.users-list {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  &__item {
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.user-item__image {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}
