.modal-upload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000088;
}
.upload-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 360px;
  height: 450px;
  background-color: $light-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__photo-area {
    width: 300px;
    height: 300px;
    border: 2px dashed $bg-color;
    margin-bottom: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      border: 2px dashed $bg-color;
      border-radius: 50%;
      box-shadow: 0 0 100px 30px;
      display: none;

    }
    &.has-upload {
      background-color: white;
      outline: 2px dashed black;
      outline-offset: -10px;
    }
  }

  .already-upload.upload-window__photo-area::after {
    display: block;
  }

  &__description {
    color: #fff;
  }
  &__btn {
    align-self: flex-end;
    margin: 50px 15px 0 0;
  }
}


